
<div id="main-faq">
    <h3 id="title">Часто задаваемые вопросы</h3>
<div id="quests">
    <div class="question" *ngIf="isClicked" (click) = "toggleQuestion()">Как оформить Е-ОСАГО<div class="pointer">▼</div> </div>
    <div class="question" *ngIf="!isClicked" (click) = "toggleQuestion()">Закрыть ответ <div class="pointer">▲</div></div>
    <div class=text *ngIf="!isClicked">
       <span>
        Для заключения электронного договора ОСАГО владельцу транспортного средства необходимо осуществить следующие действия:
       </span>

        <ul>
            <li>
                зайти в личный кабинет страхователя на сайте страховщика;
        </li>
        <li>
            в личном кабинете страхователя заполнить заявление о заключении договора.
        </li>
    </ul>
         
</div>
    <div class="question"  *ngIf="isClicked2Quest" (click) = "toggleQuestion2()">Как заявить о страховом случае <div class="pointer">▼</div> </div>
    <div class="question" *ngIf="!isClicked2Quest" (click) = "toggleQuestion2()">Закрыть ответ <div class="pointer">▲</div></div>
    <div class=text *ngIf="!isClicked2Quest">
        <span>
         Для заключения электронного договора ОСАГО владельцу транспортного средства необходимо осуществить следующие действия:
        </span>
 
         <ul>
             <li>
                 зайти в личный кабинет страхователя на сайте страховщика;
         </li>
         <li>
             в личном кабинете страхователя заполнить заявление о заключении договора.
         </li>
     </ul>
          
 </div>
    <div class="question">Как проводиться экспертиза страхового случая <div class="pointer">▼</div></div>
    <div class="question">Какие документы требуются для страхования ипотеки <div class="pointer">▼</div></div>
    <div class="question">Что такое страхование ответственности <div class="pointer">▼</div></div>
</div>

</div>