
<div id="main-faq">
    <h3 id="title">Часто задаваемые вопросы</h3>
<div id="quests">
    <button class="question" (click) = "onClick()">Как оформить Е-ОСАГО</button>
    <div class=text>Для заключения электронного договора ОСАГО владельцу транспортного средства необходимо осуществить следующие действия:
 зайти в личный кабинет страхователя на сайте страховщика (зарегистрироваться на сайте страховщика или зайти с использованием единой системы идентификации и аутентификации (ЕСИА));        
в личном кабинете страхователя заполнить заявление о заключении договора.</div>
    <button class="question">Как заявить о страховом случае </button>
    <button class="question">Как проводиться экспертиза страхового случая</button>
    <button class="question">Какие документы требуются для страхования ипотеки</button>
    <button class="question">Что такое страхование ответственности</button>
</div>

</div>