header {
	width: 100%;
	/*background: #5ebb2e;*/
	background: #009e79;
	height: 70px;
}
.auth-img {
	width: 20px;
	background-image: url(../../assets/logo/autorization-logo.png);
}

a {
	font-size:24px;
	color:white;
	text-decoration: none;
}
.header-block{
	display: inline-block;
}
