header {
	width: 100%;
	/*background: #5ebb2e;*/
	background: #009e79;
	height: 70px;
	text-align: center;
	display: block;
}
img {
	width: 70px;
}
.header-link{
	display: inline-block;
	
}
.header-block{
	margin-left: 40px;
	margin-right: 40px;

}
.block {
	
	
	height: 30px;
	
}
a {
	
	font-size:24px;
	color:white;
	text-decoration: none;

}
ul {
	height: 20px;
	width: 100px;
}
.auth-link {
	
	
	float:none;
	margin-left: 200px;
}
.blocks-header{
	text-align: center;
	display: inline;
	}
	.auth-link ul  {
		display: flex;
		align-items: center;
	
	
	}
.auth-link ul li {
	display: inline-block;
}
.insurance-block {
	padding: 25px 15px 25px 15px;	
}
.insurance-block:hover{
	background-color: #027157;
	height: 100%;
}


@media all and (max-width: 1500px){
	.links {
		visibility: hidden;
	}
}

@media all and (max-width:1800px) {
	.auth-link{
		
		margin-left:0;
	
 }	
 @media all and (min-width:1920px) {
	.auth-link{
		margin-left: 0;
	
		
	
 }	}
 @media all and (max-width:2300px) {
	.auth-link{
	
		margin-left:0;
	
		
	
 }	}
 


}
