header {
	width: 100%;
	/*background: #5ebb2e;*/
	background: #009e79;
	height: 70px;
	
	display: block;
}
img {
	width: 70px;
}
.header-link{
	display: inline-block;
	
}

.block {
	margin-left: 20px;
	margin-right: 75%;
	height: 30px;
	
}
a {
	
	font-size:24px;
	color:white;
	text-decoration: none;

}
ul {
	height: 20px;
	width: 100px;
}

.auth-link ul  {
	display: flex;
	align-items: center;

	justify-content: right;
}
.auth-link ul li {
	display: inline-block;
}
span {
	
}

@media all and (max-width: 1700px){
	.block {
		margin-right: 74%;
	}
}
@media all and (max-width: 1600px){
	.block {
		margin-right: 70%;
	}
}
@media all and (max-width: 1500px){
	.block {
		margin-right: 65%;
	}
@media all and (max-width: 1400px){
	.block {
		margin-right: 60%;
	}
}
@media all and (max-width: 1300px){
	.block {
		margin-right: 55%;
	}
}
@media all and (max-width: 950px){
	.links {
		visibility: hidden;
	}
}
@media screen and (max-width: 950px) {
	app-hamburger{
		visibility: visible;
	}
  }
  @media screen and (min-width: 950px) {
	app-hamburger{
		visibility: hidden;
	}
  }
}