<header>
    <div class="links">
        <div class="header-link block">
            <a routerLink="/" >
                <span>Страхование</span>
         
            </a>
        </div>
        <div class="header-link auth-link">
                <a routerLink="/autorization" class="header-link block">
                    <ul>
                        <li> <span>Войти</span></li>
                        <li><img src="../../assets/logo/autorization-logo.png" alt=""></li>
                    </ul>
                   
                    
                </a>
            </div>
    </div>
   
</header>