a {
    text-decoration: none;
    color:#85838b;
}
h3{
    font-weight:bold;
}
ul{
   
    float: left;
}
app-social-network{
    float: left;

    margin-top: 5px;
}
li {
    list-style-type: none;
    margin-top: 5px;
}
