<div id="choose_insurance">
    <ul><h3>Выбор страховки</h3>
        <li><a href="">Каско</a></li> 
        <li><a href="">ОСАГО</a></li> 
        <li><a href="">Квартира</a></li> 
        <li><a href="">Ипотека</a></li> 
        <li><a href="">Путешествие</a></li> 
        <li><a href="">Здоровье</a></li> 
        <li><a href="">Международное медцинское страхование</a></li> 
    </ul>
</div>

<div id="buy_insurance">
    <ul><h3>Купить страховку</h3>
        <li><a href="">Каско и ОСАГО</a></li> 
        <li><a href="">ОСАГО для юридических лиц</a></li>  
        <li><a href="">Путешествие</a></li>
        <li><a href="">Квартира</a></li>
        <li><a href="">Несчастный случай</a></li>
        <li><a href="">Медицинское страхование детей</a></li>
    </ul>
</div>

<div id="insurance_case">
    <ul>
        <h3>Страховой случай</h3>
    <li><a href="">По каско</a></li>
    <li><a href="">По ОСАГО</a></li>
    <li><a href="">По полису путешествующих</a></li>
    <li><a href="">По полису имущества физических лиц</a></li>
    <li><a href="">Проишествие на опасном объекте</a></li>
    <li><a href="">Проишествие на пассажирском транспорте</a></li>
    </ul>
</div>

