<div id="choose_insurance">
    <ul><h3>Общая информация</h3>
        <li><a routerLink="/about-us">О нас</a></li> 
        <li><a routerLink="/contacts-page">Контактные данные</a></li> 
        <li><a routerLink="/">Физическим лицам</a></li> 
        <li><a routerLink="/legal-entity">Юридическим лицам</a></li> 
      
    </ul>
</div>

<div id="buy_insurance">
    <ul><h3>Купить страховку</h3>
        <li><a routerLink="/osago-kasko">Каско и ОСАГО</a></li> 

        <li><a routerLink="/journey">Путешествия</a></li>
        <li><a routerLink="/mortgage">Ипотека</a></li>
        <li><a routerLink="/accident">Несчастный случай</a></li>

    </ul>
</div>

<div id="insurance_case">
    <ul>
        <h3>Полезная информация</h3>
    <li><a routerLink="/fraud">О мошенничестве</a></li>
    <li><a routerLink="/about-insurance">О страховых услугах</a></li>
    <li><a routerLink="/dmc">Добровольное медецинское страхование</a></li>
    <li><a routerLink="">Пенсионное страхование</a></li>
    </ul>
</div>
<div id="feedback">
    <ul>
        <h3>Обратная связь</h3>
    <li style="color: #85838b;">p_lobachev@inbox.ru</li>
    <li style="color: #85838b;">+7 (903) 806-43-47</li>

    </ul>
</div>

<app-social-network></app-social-network>



