<div id="main-header-info">
    <div class="links">
        <a routerLink="/" class="individuals">Частным лицам</a>  
        <a routerLink="/legal-entity">Юридическим лицам</a>    
        <a routerLink="/about-us" >О компании</a>     
        <a routerLink="/contacts-page" class="legalentity">Контакты</a>     
    </div>
</div>
<app-header></app-header>

<div class="main-block">
    <h1>Как с нами связаться</h1>
    <hr>
    <div class="contacs-blocks">
        <div class="block phone-support">
            <h2>Позвоните в службу поддержки</h2>
            <span class="number">8 903 806-43-47</span> 
            <p>Бесплатный звонок по России</p>
        </div >
        <div class="block ">
            
            <h2>Напишите нам на почту</h2>
            <span class="number">p_lobachev@inbox.ru</span> 
            <p>Мы всегда рады вашим письмам</p>
        
        </div>
        <div class="block">
            <h2>Напишите в Телеграм-канал поддержки</h2>
            <p>В чате вы сможете задать интересующие вопросы</p>
            <div class="link"><a href="https://t.me/experimentssns">Написать в чат</a></div>
        </div>
        
    </div>
    
    
</div>

