app-header{
    text-align: center;
}
.main-block{
   
    text-align: center;
}
.main-block h1 {
    text-align: center;
    margin-top: 100px;
    font-size: 30px;
   
}
.number{
    width: 20%;
    color: #009e79;
    font-weight: bold;  
    font-size: 30px;
    display: inline;
}
h2 {
    font-size: 25px;
}
.phone-support h2 {
   
}
.phone-support p {
  
}
.main-block a{
    text-decoration: none;
    color: white;
    border: 1px solid #009e79;
   
    padding: 10px;
    background-color:  #009e79;
    font-size: 16px;
}
.link{
    padding-top: 10px;
}
hr {width: 40%;}
.block {
    width: 40%;
    
    border:1px solid ;
    border-radius: 15px;
    margin-top: 30px;
    align-self: center;
    background-color: #f5f5f5;
    padding:20px;
    margin-bottom:30px
   
}
p{
    margin-top: 20px;
    font-size: 18px;
}

.contacs-blocks{
    display: flex;
    flex-direction: column
}
#main-header-info{
    background-color: white;
    display: block;
    min-height: 100px;
    text-align: center;
}
.links{ 
    padding-top: 40px;
}

.links a{
	color: black;
	font-size: 24px;
	margin-right: 20px;
	text-decoration: none;
	padding:10px;
	display: inline-block;
}
.links a:hover{
	color: white;
	border-radius: 15px;
	border: 1px solid #919097;
	background-color: #919097;
}
.legalentity {
    color: white;
	border-radius: 15px;
	border: 1px solid #919097;
	background-color: #919097;
}

.links .legalentity {
    color: white;
}
@media all and (max-width: 1500px){
    #main-header-info{
         display: none;
     }
     
      }
      @media all and (max-width: 682px){
        .number {
            font-size: 18px;
        }
          }

          @media all and (max-width: 682px){ 
            .block {
                width: 50%;
          }
        }
         