<app-header></app-header>
<div class="main-block">
    <h1>Как связаться</h1>
    <hr>
    <div class="contacs-blocks">
        <div class="block phone-support">
            <h2>Позвоните в службу поддержки</h2>
            <span class="number">8 903 806-43-47</span> 
            <p>Бесплатный звонок по России</p>
        </div >
        <div class="block">
            <h2>Напишите нам на почту</h2>
            <span class="number">p_lobachev@inbox.ru</span> 
            <p>Мы всегда рады вашим письмам</p>
            <!-- <div class="link"><a href="">Написать на почту</a></div> -->
        </div>
        <div class="block">
            <h2>Напишите в Телеграм-канал поддержки</h2>
            <p>В чате вы сможете задать интересующие вопросы</p>
            <div class="link"><a href="https://t.me/experimentssns">Написать в чат</a></div>
        </div>
        
    </div>
    
    
</div>

