
<header>
    <div class="title"><a routerLink="/">Страхование</a></div>
</header>

<main>
    <h3 id="title-registration">
        Регистрация
    </h3>
    
        <form name="form" [formGroup]="form" (ngSubmit)="onSubmit()">
            <div id=registration>
            <div id="info">
                <div class="info-blocks">
                    <div class="inputs" id="login-block">
                        <label for="Email">Почта</label>
                        <input type="text" name="Email" placeholder="p_lobachev@inbox.ru" formControlName="email">
                    </div>
                    <div class="inputs">
                        <label for="Phone">Телефон</label>
                        <input type="tel" name="Phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required
                            placeholder="+7(___)-___-__-__" formControlName="phoneNumber">
                    </div>
                </div>
                <div class="info-blocks" id="password-block" >
                    <div class="inputs">
                        <label for="Password">Пароль</label>
                        <input type="text" name="Password" formControlName="password">
                    </div>
                    <div class="inputs">
                        <label for="Password-Validation">Подтверждение пароля</label>
                        <input type="text" name="Password-Validation" formControlName="passwordValidation">
                    </div>
                </div>
                <div id="personal-data" class="info-blocks">
                    <div class="inputs">
                        <label for="Surname">Фамилия</label>
                        <input type="text" name="Surname" placeholder="Лобачев" formControlName="surname">
                    </div>
                    <div class="inputs" id="name-block">
                        <label for="Name">Имя</label>
                        <input type="text" name="Name" placeholder="Петр" formControlName="name">
                    </div>
                    <div class="inputs" id="otchestvo-block" >
                        <label for="Otchestvo">Отчество</label>
                        <input type="text" name="Otchestvo" placeholder="Александрович" formControlName="otchestvo">
                    </div>
                </div>
                <div class="info-blocks">
                    <div id=datebirth class="inputs">
                        <label for="Date-Birth">Дата рождения</label>
                        <input type="date" name="DateBirth" formControlName="datebirth">
                        
                    </div>
                    <div class="inputs" id="checkbox-foreign">
                        <label>
                            <input type="checkbox" formControlName="foreigner">
                            <span>Иностранный гражданин</span>
                        </label>
                    </div>
                </div>
            <div class="info-blocks">
                <div class="inputs">
                    <label for="Type-Document">Тип документа</label>
                    <!-- <input type="text" name="Type-Document"> -->
                    <select type="text" name="Type-Document" formControlName="document">
                        <option disabled>Выберете</option>
                        <option value="RussianPassport">Гражданский паспорт РФ</option>
                        <option value="OfficerIDcard">Удостоверение личности офицера</option>
                        <option value="SoldierIDcard">Военный билет солдата</option>
                        <option value="ReserveOfficerIDcard">Военный билет офицера запаса</option>
                        <option value="RussianTemporaryIdentityCard">Временное удостоверение личности гражданина РФ</option>
                        <option value="OtherDocuments">Другие документы</option>
                     </select>
                </div>
                <div class="inputs" id="numer">
                    <label for="Numeration">Номер</label>
                    <input type="text" name="Numeration" formControlName="documentNumber">
                </div>
                <div class="inputs" id="serie">
                    <label for="Serie">Серия</label>
                    <input type="text" name="Serie" formControlName="documentSerie">
                </div>
            </div>
        </div>
       
        </div>
        <div class="info-blocks">
            <div class="inputs" (click)="onSubmit()">
                <button >Зарегистрироваться</button>
            </div>
        </div>
    </form>
</main>