<div id="main-header-info">
    <div class="links">
        <a routerLink="/" class="individuals">Частным лицам</a>  
        <a routerLink="/legal-entity">Юридическим лицам</a>    
        <a routerLink="/about-us" class="legalentity">О компании</a>     
        <a routerLink="/contacts-page">Контакты</a>     
    </div>
</div>
<app-header></app-header>
<div class="main">
    <div class="about-us">
        <h1>О нас</h1>
        <hr>
        <div class="info-about">
            <div class="info info-img">
                <img src="../../assets/office-page.jpg" alt="">
            </div>
            <div class="info info-text">
                <p>Наша страховая компания направлена на предоставление удобного сервиса для клиентов. 
                    Мы хотим, чтобы наши потребители были довольны нашим обслуживанием и  продукцией.
                </p>
                <p>
                    Основными нашими продуктами являются страховые полиса для частных лиц. Мы предоставляем полиса по ОСАГО и КАСКО, по ипотеке и другие.
                </p>
                <p>Наш сервис еще только развивается, но делает это в ускоренном темпе. Мы хотим улучшить наши бизнес-процессы при помощи информационных технологий</p>
                <p>Цель компании: удовлетворять в полной мере потребности наших клиентов</p>
                <p>Мы смотрим в будущее, в технологичное будущее, что помогает нам расти.</p>
            </div> 
        </div>
        <hr>
        <h2>Почему люди приходят к нам</h2>
        <div class="company-info">
            <div class="company-benefits">
                Пользователи могут в любое удобное для них время оформить страховой полис
                всего за несколько кликов.
           
            </div>
            <div class="company-benefits second-benefit">
                Мы стараемся приложить все наши усилия, чтобы стать более продвинутой компанией и будем стараться и дальше. 
            </div>
            <div class="company-benefits">
                Наша компания всегда готова пойти на встречу клиентам и сделать все что в наших силах. 
            </div>
            
        </div>

    </div>
</div>