
    <app-header>

    </app-header>
    <div class="main">
        <div class="image"><div class="text-cheating-image">Мошенничество</div></div>
        <div class="info">
            <h1>Что же такое cтраховое мошенничество?</h1>
            <hr>
            <p> Это когда страховая компания, потребитель,
                регулировщик или агент совершает преднамеренный обман с целью получения прибыли.
                Это может произойти во время покупки, андеррайтинга или продажи страховки.
                Вот виды страхового мошенничества и информация о том, как вы можете защитить себя.
            </p>
        </div>
    
        <div class="info">
            
            <h1>Виды страхового мошенничества</h1>
            <hr>
            <h2>1. Фальшивые и преувеличенные заявления</h2>
            <p> Фальшивые страховые агенты могут обманывать потребителей,
                взимая страховые взносы за несуществующие полисы.
    
                Большинство поддельных премий предлагаются по более низкой ставке,
                чем рыночная.
                Потребители должны быть осторожны,
                прежде чем приобретать полис,
                что они стать  жертвами таких агентов.
                Один из способов предотвартить такую ситуацию - обратиться в страховую компанию, в которой,
                по их утверждению, они работают, чтобы убедиться, что агенты в самом деле являюется сотрудниками страховой фирму.
                Не забудьте спросить об их лицензии.
            </p>
    
            <h2>2. Нелицензионные компании</h2>
            <p> Нелегальные компании, без государственной лицензии, могут ввести потребителей в заблуждение, заставив
                их поверить, что они продают настоящие страховые полиса, хотя на самом деле это не так. 
            </p>
            <h2>3. Несанкционированные политики</h2>
            <p>
                Некоторые лицензированные компании могут вводить несанкционированные политики.
                 То есть они могут начать продавать полисы, который не признается государством
        .
            </p>
            <h2>4. Хищение премиальных</h2>
            <p>
                Лица, работающие в известных страховых компаниях, могут попытаться обмануть потребителей ради своей выгоды.
                Например,
                мошенничек может собирать страховые взносы и не передавать их компании. Потребитель считает, что
                страховые
                взносы обрабатываются надлежащим образом, и рассчитывает на использование страхового покрытия, когда
                возникнет
                необходимость, но агент уже растратил все деньги.
    
            </p>
            <p>
                С другой стороны, компания считает, что страхователь не выполняет свою часть сделки, и либо отменяет, либо
                не
                продлевает полис. Если вы не получили копию вашего полиса, страховую идентификационную карту или квитанции о
                ваших
                платежах, это красный знак того, что ваши страховые взносы не были переведены. Поэтому немедленно свяжитесь
                со
                страховщиком.
            </p>
            <h2> 5. Инсценированные несчастные случаи</h2>
            <p> Потребители также могут быть виновниками страхового мошенничества. Когда они намеренно пытаются
                инсценировать травму, несчастный случай или кражу с целью получения выкупа, они действуют против закона.
                Кроме того,
                если страхователь фальсифицирует информацию при подаче заявления на автострахование, это
                является
                нарушением договора, и он может быть привлечен к суду.</p>
    
    
            <h2>6. Мошенничество с ремонтом при несчастных случаях</h2>
            <p> Другой случай мошенничество страхователя может быть такое - он ремонтирует
                транспортное
                средство, попавшее в аварию. Автомеханик может попытаться взять больше денег, чем требуется для ремонта.
                Если ваш
                механик попросит повысить стоимость полиса, чтобы покрыть вашу франшизу, то он заставляет вас совершить махинацию со
                страховкой. Вы
                можете устранить эту лазейку, попросив своего страховщика порекомендовать авторитетную ремонтную мастерскую,
                куда вы
                сможете сдать свой автомобиль для ремонта. Кроме того, попросите у механика письменный отчет о повреждениях,
                а не
                письменную смету расходов.</p>
            <h2>7. Завышенные требования</h2>
            <p> Это называется оппортунистическим мошенничеством, и оно происходит, когда страхователь преувеличивает
                стоимость
                претензии с целью “получить свои деньги” за страховку. Никогда не заявляйте о большем ущербе, чем есть на
                самом
                деле. Страховое мошенничество приводит к увеличению ставок страховых взносов, и от этого страдают все.
                Преувеличенное заявление также считается уголовным преступлением, и за это вы можете оказаться в тюрьме.</p>
    
    
            <h2>8. Фиктивные Кражи Транспортных Средств</h2>
            <p>Это происходит, когда физическое лицо задерживает платежи и сообщает, что автомобиль украден, чтобы получить
                страховую выплату. Преступнники  могут использовать эту идею для хищения средств страховых
                компаний,
                покупая полисы на автомобили, которые они планируют впоследствии потерять.
                 Если вы подозреваете, что произошла фальшивая кража,
                немедленно
                сообщите об этом в  правоохранительные органы.</p>
    
            <h1> Советы, как защитить себя от страхового мошенничества</h1>
            <hr>
    
            <p>
                Существует множество ситуаций, когда можно стать жертвой мошенничества, связанное с страхованием автомобиля. Вот руководство о том,
                как
                этого избежать.
    
            </p>
            <h2>Будьте умным покупателем</h2>
            <p>Покупка ОСАГО является обязательной для каждого транспортного средства в России. Это жизненно
                важно
                для защиты водителей от дорогостоящих последствий аварий, но и также дает преступникам возможность продавать
                вам
                поддельные страховые продукты.</p>
            <p>
                Жертвы могут понять, что приобретенный ими страховой полис недействителен, если они не получат подтверждение
                страховой карты. К сожалению, большинство узнают правду, когда уже слишком поздно, например, после несчастного
                случая или
                когда их остановила полиция. Помните, что вождение без действительной страховки является незаконным, даже
                если вы
                делаете это неосознанно. Вы должны убедиться, что у вас есть легальная страховка автомобиля, приобретенная у
                заслуживающей доверия компании или агента.
                Заметить мошенничество с автострахованием сложно. Для этого обратите внимание на следующие моменты:
            </p>
    
    
    
            <ul>
                <li>
                    Будьте осторожны при работе со страховыми агентами, которые оказываются рядом с вами после покупки автомобиля, продавая полисы, или
                    с теми, кто
                    привлекает клиентов с помощью телефонных звонков. Убедитесь что они являются сотрудниками в страховой компании.
                </li>
                <li>Будьте осторожны с ценами, которые намного ниже рыночной ставки. Это может быть мошенничеством.
                    Некоторые из них
                    являются законными, но есть и исключения, и об этих исключениях вы узнаете когда вам будет нужно страховое покрытие, то есть слишком поздно.
                    Обратитесь в отдел страхования вашего района, чтобы проверить честность компании и агента. У них должны
                    быть
                    лицензии.</li>
                <li>Узнайте о компании при помощи отзывов</li>
                <li> Подтвердите, скрыты ли “бесплатные услуги” в вашем страховом счете.</li>
                <li> Позаботьтесь о своем страховом идентификационном номере так же, как и о номере социального страхования,
                    потому что,
                    если он будет украден, преступники могут использовать его для мошенничества.</li>
    
            </ul>
    
    
    
    
            <h2>Будьте осторожным водителем</h2>
            <p>Инсценированные автокатастрофы не только опасны для водителей, но и подвергают риску других участников
                дорожного
                движения. Помимо того, что  мошенники могут оказаться в тюрьме, также их страховое покрытие будет
                отозвано и им также грозит штраф.</p>
            <ul>
                <li> Установите видеорегистратор. Использование камеры приборной панели поможет вам зафиксировать любые
                    аварии или
                    инциденты, которые происходят во время вождения. Таким образом, у вас есть доказательства события,
                    которые вы можете
                    использовать в судебном разбирательстве.</li>
                <li> Относитесть подозрительно к машинам, которые останавливаются перед вами, вынуждая вас следовать за ними
                    на очень близком
                    расстоянии. Вероятно, вы можете попасть в спланированный несчастный случай.</li>
                <li> Доверяйте своим инстинктам. Если вы чувствуете, что кто-то следит за вами или ведет себя подозрительно,
                    едьте в
                    ближайшее безопасное место, например, в полицию, пожарную или на заправку.</li>
                <li>Всегда носите с собой свой аварийный набор.</li>
            </ul>
    
           
    
    
            <h2>Что делать после несчастного случая </h2>
            <ul>
                <li> Обменяйтесь контактными  с человеком, с котором произошла авария. Убедитесь, что у вас есть номер
                    их
                    водительских прав, подтверждение страховки и регистрация транспортного средства. Снимайте на камеру повреждения,
                    нанесенные
                    обеим машинам.</li>
                <li> Посчитайте людей в автомобиле и спросите их имена, номера телефонов и адреса.</li>
                <li> Позвоните в полицию и объясните, что произошло. Убедитесь, что в полицейском отчете указано имя
                    офицера, независимо
                    от того, насколько незначительным кажется ущерб. Это затруднит преступнику, который повредил ваше и свое
                    транспортное средство,
                    последующее предъявление более серьезных претензий. Обратите внимание, что в городах, где численность
                    полиции
                    невелика, она может оказаться не в состоянии прибыть на место происшествия во время.
                    Держитесь подальше от людей, которые появляются на месте происшествия и пытаются убедить вас пойти к каким-то
                    адвокатам или врачам.</li>
                <li> Не попадайтесь на удочку людей, которые предлагают вам деньги за ремонт вашего автомобиля.</li>
                <li>Запросите подробные счета за любые медицинские или ремонтные услуги после несчастного случая. Сохраняйте
                    также все
                    свои квитанции.</li>
                <li> Избегайте врачей, которые советуют вам подать заявление о телесных повреждениях, даже если вы не
                    пострадали.
                    Не подписывайте пустые бланки страховых требований.</li>
            </ul>
    
    
    
    
    
    
    
    
            <h1>Позвоните и убедитесь</h1>
            <hr>
           <p>
            Если вы не уверены в страховом агенте или компании, не подписывайте договор. Найдите время, чтобы узнать больше
            о
            фирме, и выписывайте чек только тогда, когда вы уверены в их надежности. Подтвердите, что страховщик
            лицензирован и
            легален.
           </p> 
           <p>        Если вы считаете, что стали жертвой мошенничества со страховкой, или вам известно о случаях мошенничества, вам
            необходимо подать жалобу на физическое или юридическое лицо, совершившее преступление.</p>
        </div>
    
    </div>
    <app-footer></app-footer>

