<app-header>

</app-header>
<div class="main">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <h1>Онлайн страхование путешественников</h1>
        <div class="main-form">
            
            <div class="block">
                <label for="" class="header-name">Место путешествия</label>  
               
                <select name="" id="" class="journeyPlace">
                    <option [ngValue]="null" disabled selected value="">Выберете страну которую хотите посетить</option>
                    <option   >Германия</option>
                  
                    <option  >Англия</option>
                    <option  >Франция</option>
                    <option  >Португалия</option>
                    <option  >Япония</option>

                </select>
            </div>
           
            <div class="block"> 
                <div class="inner-block date-block" >
                    <div>
                        <label for="" class="header-name">Тип полиса </label>
                    </div>
           
                        <label >На одну поездку</label>
                    <div class="date-inputs">
                        <span><label for="" class="date-info" >Начало:</label></span>
                        <input type="date"  formControlName="startDate"> - 
                        <label for="">Конец:</label>
                        <input type="date"   formControlName="endDate">
                    </div>
                        
               
                    
                </div>
            
            </div>
            <div class="block">
                <div class="inner-block">
                    <div>
                        <label for="" class="header-name">Турист</label>
                    </div>
                <div class="tourist">
                    <label for="">Возраст:</label>
              
                    <input type="radio" name="ageRange" class="radio-inp"  formControlName="ageRange" value="0 - 9"> 0 - 9
                    <input type="radio" name="ageRange" class="radio-inp"   formControlName="ageRange" value="10 - 17"> 10 - 17
                    <input type="radio" name="ageRange" class="radio-inp"   formControlName="ageRange" value="18 - 64"> 18 - 64
                </div >
                <div class=tourist>
                        <label for="">Гражданство:</label>
                   
                        <input type="radio" name="citizenship" class="radio-inp"   formControlName="citizenship" value=" РФ"> РФ
                        <input type="radio" name="citizenship" class="radio-inp" formControlName="citizenship" value="не РФ"> не РФ
                    </div>
               
                </div>
               
            </div>
           
        </div>
        <div class="btn">
            <button>Оформить полис</button>
        </div>
        
    </form>
    
</div>