<app-header>

</app-header>
<div class="main">
    <form>
        <h1>Онлайн страхование путешественников</h1>
        <div class="main-form">
            
            <div class="block">
                <label for="" class="header-name">Место путешествия</label>
                <input type="text" placeholder="Введите страны которые хотите посетить">
            </div>
           
            <div class="block"> 
                <div class="inner-block">
                    <div>
                        <label for="" class="header-name">Тип полиса </label>
                    </div>
           
                    <label >На одну поездку</label>
                 
                 
                        <label for="" class="date-info">Начало:</label>
                        <input type="date"> - 
                        <label for="">Конец:</label>
                        <input type="date">
               
                    
                </div>
            
            </div>
            <div class="block">
                <div class="inner-block">
                    <div>
                        <label for="" class="header-name">Турист</label>
                    </div>
                <div class="tourist">
                    <label for="">Возраст:</label>
              
                    <input type="radio" name="age" class="radio-inp"> 0 - 9
                    <input type="radio" name="age" class="radio-inp"> 10 - 17
                    <input type="radio" name="age" class="radio-inp"> 18 - 64
                </div >
                <div class=tourist>
                        <label for="">Гражданство:</label>
                   
                        <input type="radio" name="citizenship" class="radio-inp"> РФ
                        <input type="radio" name="citizenship" class="radio-inp"> не РФ
                    </div>
               
                </div>
               
            </div>
        
        </div>
        <div class="btn">
            <button>Оформить полис</button>
        </div>
        
    </form>
    
</div>