<app-header></app-header>
<div class="main">
    <form action="">
        <div class="main-form">
        <div class="company-data">
            <h2>Запросить страховку на имущество предприятия</h2>
            
            <div class="block">
                <label for="">Наименование</label>
                <input type="text">
            </div>
            <div class="block">
                <label for="">Адрес</label>
                <input type="text">
            </div>
            <div class="block">
                <label for="">ИНН</label>
                <input type="text">
            </div>
            <div class="block">
                <label for="">Регион</label>
                <input type="text">
            </div>
          
        </div>
            
         
            <hr>
            <div class="user-data">
                <div class="personal-data">
                    <div class="block ">
    
                        <label for="">Фамилия</label>
                        <input type="text">
                    </div>
                    <div class="block">
                        
                    <label for="">Имя</label>
                    <input type="text">
                    </div>
                    <div class="block">
                        <label for="">Отчество</label>
                        <input type="text">
                    </div>
                </div>
                <div class="contact-data">
                <div class="block">
        
                    <label for="">Телефон</label>
                    <input type="text">
                </div>
             
                <div class="block">
                    <label for="">E-mail</label>
                    <input type="text">
                </div>
        
            </div>
            </div>
            
        </div>


       <div class="btn">
        <button>Отправить

        </button>
       </div>
  
    </form>
</div>