<app-header>

</app-header>
<div class="main">
    <div class="type-policy">
        <h1>Купить страховку от заболеваний</h1>
        <a routerLink="/">
         
            <div class="antivirus">
                <div class="inner-antivirus">
                    <div class="head-text text"><h4>АнтиВирус</h4></div>    
                    <div class="main-text text" >Страховка на случай инфекционного заболевания</div>
                </div>
                
            </div>
        </a>
        
    </div>
    
</div>