<app-header></app-header>
<div class="back"><a routerLink="/osago-kasko" >Вернуться </a></div>
<div class="main">
    <form action="" [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="policy-info osago-info">
            <h1>Информация полиса</h1>
            <div class="policy-data">
                <div class=input-address>
                    <label for="">
                        Адрес регистрации собственника, как в паспорте
                    </label>
                    <input type="text" formControlName="addrRegistr">
                </div>
              
              
              
            </div>
            
        


        </div>
        <div class="transport-info osago-info">
        <div class="main-car-info">
             
            <h1>Транспортное средство</h1>
            <div class="car-info">
                <label>
                    Марка автомобиля
                </label>
                <input type="text" formControlName="carMarka">
                <label>
                    Год выпуска
                </label>
                <input type="text" formControlName="dateCar">
            </div>
         
     
            <div class="car-info ">
                <label>Модель и класс автомобиля</label>
                <input type="text" formControlName="classModelCar">
          
                <label>
                    Объем двигателя
                </label>
                <input type="text"formControlName="engine">
            </div>
        </div>
        <div>
            <label for="" class="auto-credit">Автомобиль в кредит</label>
            <div class="btn-yes-no" (click)="onClick()" *ngIf="isClicked" >Да</div>
            <div class="btn-yes-no" (click)="onClick()" *ngIf="!isClicked">Нет</div>
        </div>
        <div class="bank-input"  *ngIf="!isClicked">
            <label for="">Банк, выдавший кредит </label>
            <input type="text" value="Например, ВТБ" formControlName="bank">
        </div>

        <div class="bank-input">
            <label for="">Стоимость автомобиля (руб)</label>
        <input type="text"formControlName="costCar" >
    </div>
         
        
        </div>

        <div class="drivers osago-info">
            <h1>Собственник и водители</h1>
            <div class=input-address>
                <label for="">
                    Место использования автомобиля
                </label>
                <input type="text" formControlName="carPlace">
            </div>
            <label for="">Количество</label>  
            <div class="drivers-count">
               
                <input type="radio" value="Неограниченно" name="rb2" formControlName="amountUsers"><label for="">Неограниченно</label> 

            </div>
        </div>
        <div class="transport-info osago-info">
            <h1>Контактные данные</h1>
            <label>Для продолжения расчета укажите ваши контактные данные</label>
            <div class="contact-data">
                <div>
                    <label for="">Имя</label>
                    <input type="text" value="" formControlName="name">
                </div>
                <div><label for="">Номер телефона</label>
                    <input type="text" value="" formControlName="phone"></div>
            </div>
            </div>
          
        <div class="btn">
            <button>Отправить заявку</button>
        </div>
       
    </form>

</div>