.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.main a {
    text-align: center;
    width: 20%;
    text-decoration: none;

}

h1 {
    margin-top: 4%;
}

.property-insurance {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../../assets/insurance-property.png);
    height: 200px;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 150px;
    color: white;
    font-size: 26px;
    line-height: 1.5;

}

.property-insurance div {
    margin-top: 35px;
}

.main-text {
    padding: 5px;
    font-size: 14px;
}

.main a:hover {

    transition: 1.5s;

    background-color: #009e79;

}

#main-header-info {
    background-color: white;
    display: block;
    min-height: 100px;
    text-align: center;
}

.links {
    padding-top: 40px;
}

.links a {
    color: black;
    font-size: 24px;
    margin-right: 20px;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
}

button {
    margin-top: 5px;

    font-size: 20px;
    padding: 15px;
    background-color: #85838b;
    border: 1px solid #85838b;
    margin-bottom: 15%;
}

.main-text {
    display: inline-block;
    text-decoration: none;
    font-size: 15px;
    text-align: center;
    padding: 5px;
    line-height: 1.5;

    color: #808080;
    transition: 1.5 ease;
    width: 19.35%;
}

.btn button {
    margin-top: 5%;
    padding: 15px;
    color: #fff;
}

.links a:hover {
    color: white;
    border-radius: 15px;
    border: 1px solid #919097;
    background-color: #919097;
}

.legalentity {
    color: white;
    border-radius: 15px;
    background-color: #919097;
}

.links .legalentity {
    color: white;
}
.main-text {
    padding-top: 0;
    background-color: #009e79;
    color: white;
}


@media all and (max-width: 1500px) {
    #main-header-info {
        display: none;
    }


}

@media all and (max-width: 1400px) {
    .property-insurance {
        width: 100%;
        height: 150px;
        font-size: 16px;
        padding-top: 100px;
    }

    
    .btn button {
        margin-top: 5%;
        padding: 10px;
    
        color: #fff;
        width: 100%;
        font-size: 15px;
    }

    .property-insurance .head-text {
        font-size: 15px;
        padding: 0;
        margin: 0;
    }
    .main-text {
        font-size: 10px;
    }
}

@media all and (max-width: 1000px) {
    .property-insurance {
        width: 100%;
        height: 100px;
        font-size: 16px;
        padding-top: 50px;

    }

    .property-insurance .head-text {
        font-size: 11px;
        padding: 0;
        margin: 0;
    }

    .btn button {
        margin-top: 5%;
        padding: 10px;
        color: #fff;
        width: 100%;
        font-size: 10px;
    }

   

}

@media all and (max-width: 500px) {
    .property-insurance {

        height: 50px;
    }

    .property-insurance .head-text {
        font-size: 11px;
        padding: 0;
        margin: 0;
    }

    .main-text {
        font-size: 5px;
    }

}