<div id="main-header-info">
    <div class="links">
        <a routerLink="/" class="individuals">Частным лицам</a>  
        <a routerLink="/legal-entity" class="legalentity">Юридическим лицам</a>    
        <a routerLink="/about-us">О компании</a>     
        <a routerLink="/contacts-page">Контакты</a>     
    </div>
</div>

<app-header></app-header>
<div class="main">
    <a href="/legal-property">
        <div class="property-insurance">
            <div>Страхование имущества юридических лиц</div>
            </div>
    </a>
    
</div>