
<app-header></app-header>

<div class="main">
    <form action="">
        <div class="policy-info">
            <h1>Информация полиса</h1>
            <label for="">
                Адрес регистрации собственника, как в паспорте
            </label>
            <input type="text">
            <label for="">
                
            </label>
            Дата начала страхования
            <input type="date">
            <label for="">Период страхования
            </label>
            <div>
                <div ><input type="radio" value="" name="rb1">Год</div>
                <input type="radio" value=""name="rb1">
                <input type="radio" value=""name="rb1">
            </div>
                
            
        </div>
        <div class="transport-info">
            <h1>Транспортное средство</h1>
            <label>
            Марка автомобиля
            </label>
            <label>Модель автомобиля</label>
            <label>
                Год 
            </label>
            <label>
            Объем двигателя
            </label>
            <label>
                Наличие прицепа
            </label>
            <label>
                Для каких целей
            </label>
            для каких целей
            государственный Номер
            Регистрация зарубежом
            Идентификатор транспортного средства
            Тип
            <select name="" id="">
                <option value="VIN">VIN</option>
                <option value="chassis">Номер шасси</option>
                <option value=""></option>
            </select>
        </div>
        <div class="drivers">
            <h1>Водители</h1>
            Количество
            <div>
                <input type="radio" value="" name="rb2">
                <input type="radio" value=""name="rb2">
                
            </div>
        </div>

    </form>
  
</div>