<app-header></app-header>
<div class="back"><a routerLink="/osago-kasko" >Вернуться </a></div>
<div class="main">
    <form action=""  [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="policy-info osago-info">
            <h1>Калькулятор ОСАГО</h1>
            <div class="policy-data" class=carInfo>
                <div class=input-address>
                    <label for="">
                        Место использования транспорта
                    </label>
                    <select name="" id="" formControlName="region">
                        <option value="1.40">Тверская область</option>
                        <option value="1.56">Московская область</option>
                        <option value="1.64">Санкт-Петербург</option>
                        <option value="1.32">Кировская область</option>
                        <option value="1.64">Новгородская область</option>
                    </select>
                </div>
        </div>
        <div class=carInfo>
            <label for="">Категория ТС</label>
            <select name="" id=""formControlName="transportType">
                <option value="438">Мотоциклы и мотороллеры</option>
                <option value="1152" selected>Легковые автомобили</option>
                <option value="2014">Легковые автомобили, используемые в качестве такси</option>
                <option value="1572">Грузовые автомобили (не более 16 Т)</option>
                <option value="1867"> Грузовые автомобили (Более 16 T) </option>
                <option value="2367"> Автобусы (Не более 16 пассажиромест) </option>
                <option value="2029">Троллейбусы </option>
                <option value="1266"> Трамваи</option>
                <option value="610"> Трактора, самоходные дорожно-строительные машины</option>
            </select>
        </div>
        <div class=carInfo>
            <label for=""> Мощность (л.с.)</label>
            <select name="" id="" formControlName="power">
                <option value="0.6">до 50 включительно</option>
                <option value="1.0">свыше 50 до 70 включительно</option>
                <option value="1.1">свыше 70 до 100 включительно</option>
                <option value="1.2">свыше 100 до 120 включительно</option>
                <option value="1.4">свыше 120 до 150 включительно</option>
                <option value="1.6">свыше 150</option>
            </select>
        </div>
        <div class=carInfo>
            <label for="">Период использования</label>
            <select name="" id="" formControlName="period">
                <option value="0.5">3 месяца</option>
                <option value="0.6">4 месяца</option>
                <option value="0.65">5 месяцев</option>
                <option value="0.7">6 месяцев</option>
                <option value="0,8">7 месяцев</option>
                <option value="0.9">8 месяцев</option>
                <option value="0.95">9 месяцев</option>
                <option value="1">10 месяцев и более</option>
            </select>
        </div>
        </div>
        <div class="drivers osago-info">
            <h1>Водители</h1>
            <label for="">Количество</label>  
            <div class="drivers-count">   
                <input type="checkbox" name="" id="" (click) = toggleDrivers()><label for="">С ограничением водителей</label>
            </div>
            <div *ngIf="isDriverClicked">
            <div (click)="addUser()" style="cursor: pointer;">
                + Добавить водителя
            </div>
            
            <div class="drivers-data" *ngFor="let driver of drivers">
                <div style="cursor: pointer;" (click) =  "delUser(driver.id)">- Убрать водителя {{driver.id}} </div>
                <div>Водитель {{driver.id}} </div>
                <div class="driver-info" >
                    <label for="">Возраст</label>
                    <input type="text" value="" formControlName="age">
                </div>
                <div class="driver-info">
                <label for="">Стаж</label>
                <input type="text" value="" formControlName="experience">
            </div>
            <div class="driver-info">
                <label for=""> Сколько лет ездите без ДТП по своей вине?</label>
                <select name="" id="" formControlName="withoutAccident">
                    <option value="2.94">0</option>
                    <option value="2.25">1</option>
                    <option value="1.76">2</option>
                    <option value="1.17">3</option>
                    <option value="1.00">4</option>
                    <option value="0.91">5</option>
                    <option value="0.83">6</option>
                    <option value="0.78">7</option>
                    <option value="0.74">8</option>
                    <option value="0.63">9</option>
                    <option value="0.57">10</option>
                    <option value="0.52">11</option>
                    <option value="0.46">12</option>
                </select>
            </div>       
        </div> 
            </div>
        </div>
        <div *ngIf="{value: formulaAnswer} as formulaAnswer" >
            <div *ngIf="isClicked">
               <div>Место использования  * Категория ТС * Мощность * </div> 
               <div>* Период использования * Коэффициент безаварийной езды </div>
              <div>Стоимость страховки: {{(formulaAnswer.value).toString()}} рублей</div>  
            </div>
        </div>
        <div class="btn" (click) = "toggleFormula(); onBuyBtn();" >
            <button>Рассчитать</button>
        </div>
        <div class="btn" *ngIf="isBuyBtnClicked">
            <button>Купить</button>
        </div>
    </form>

</div>