#info-policy{
  text-align: center;
  }
#title{
    margin-top: 10px;
    font-size: 24px;
  }
#main-block{
  display: block;
  }
.info-block{
  border: 1px solid #dcdcdc;
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  width: 200px;
  max-height: 200px;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  padding-left: 1.5%;
  padding-right: 1.5%;
  
  height: 200px;
  margin-bottom: 1%;
  margin-top: 1%;
  font-weight:500;
  
}
.info-block-title{
  margin-top: 25%;
  font-size: 22px;
  text-shadow:1px 1px #85838b;
}
.info-block-desc{
  margin-top: 20%;
  font-size: 20px;
  text-shadow:1px 1px #85838b;
}
#cheating  {
  background:linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url(../../assets/osago-cheating.jpg);
  background-position:center;
  background-repeat: no-repeat;
  background-size:cover;
  border-radius: 10px;
  color: white;
}

#cheating:hover {
  transition: 1s;
  background-image: url();
  color: white;
  background-color: #009e79;
}

#insurance-service{
  background:linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url(../../assets/insurance-services.jpg);
  background-position:center;
  background-repeat: no-repeat;
  background-size:cover;
  border-radius: 10px;
  color: white;
  
}

#insurance-service:hover{
  transition: 1s;
  background-image: url();
  color: white;
  background-color: #009e79;

}

#dmc{
  background:linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url(../../assets/dmc.jpg);
  background-position:center;
  background-repeat: no-repeat;
  background-size:cover;
  border-radius: 10px;
  color: white;
  
}

#dmc:hover{
  transition: 1s;
  background-image: url();
  color: white;
  background-color: #009e79;
 
}


#insurance-pension{
  background:linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url(../../assets/pension.jpg);
  background-position:center;
  background-repeat: no-repeat;
  background-size:cover;
  border-radius: 10px;
  color: white; 
}

#insurance-pension:hover{
  
  transition: 1s;
  background-image: url();
  color: white;
  background-color: #009e79;
 
}