<div id="info-policy">
    <h3 id="title">Полезная информация</h3>
    <div id="main-block">

        <a href="/fraud">
            <div class="info-block" id="cheating">
                <div class="info-block-title">О мошенничестве</div>
                <div class="info-block-desc">
                    Узнайте больше чтобы уберечь себя
                </div>
            </div>
        </a>
        <a href="about-insurance">
            <div class="info-block" id="insurance-service">
                <div class="info-block-title">Страховые услуги</div>
                <div class="info-block-desc">
                    Подробнее об услугах
                </div>
            </div>
        </a>
        <div class="info-block" id="dmc">
            <div class="info-block-title">ДМС</div>
            <div class="info-block-desc">
                Защитете свое здоровье
            </div>
        </div>

        <div class="info-block" id="insurance-pension">
            <div class="info-block-title">Пенсия</div>
            <div class="info-block-desc">
                Счастливая старость
            </div>
        </div>
    </div>
</div>