<div class="body">
    <input type="checkbox"  class="openSidebarMenu" id="openSidebarMenu">
    
    <label for="openSidebarMenu" class="sidebarIconToggle">
        <div class="spinner diagonal part-1"></div>
        <div class="spinner horizontal"></div>
        <div class="spinner diagonal part-2"></div>
      
    </label>
 
        <div class="menu">
            <ul>
                <a routerLink="/" >
                <li>
                
                    <span>Главная</span>
                  
                </li>
            </a>
            <a routerLink="/autorization" class="header-link block">
                <li>
                   
                            <span>Авторизация</span>
             
                </li>
            </a>
            <a routerLink="/about-us" class="header-link block">
                <li>
                   
                           <span>О компании</span>
                 
                </li>
            </a>
            <a routerLink="/contacts-page" class="header-link block">
                <li>
                    
                             <span>Контакты</span>
                    
                </li>
            </a>
           
            <a routerLink="/contacts-page" class="header-link block">
                <li>
                   
                            <span>Автострахование</span>
                   
                </li>
            </a>
            <a routerLink="/mortgage" class="header-link block">
                <li>
                   
                            <span>Ипотека</span>
                   
                </li>
            </a>
            <a routerLink="/journey" class="header-link block">
                <li>
                   
                            <span>Путешествия</span>
                   
                </li>
            </a>
            <a routerLink="/legal-entity" class="header-link block">
                <li>
                    
                            <span>Юридическим лицам</span>
               
                </li>
            </a>
            <a routerLink="/legal-entity" class="header-link block">
                <li>
                    
                            <span>Несчастный случай</span>
               
                </li>
            </a>
                </ul>
        </div>

    
   
  </div>