a{
	color: black;
	font-size: 24px;
	margin-right: 20px;
	text-decoration: none;
	padding:10px;
	display: inline-block;
}
a:hover{
	color: white;
	border-radius: 15px;
	border: 1px solid #919097;
	background-color: #919097;
}
.individuals {
	color: white;
	border-radius: 15px;
	border: 1px solid #919097;
	background-color: #919097;
}