<app-header>

</app-header>
<div class="main">
    <div class="image">
        <div class="text-cheating-image">Пенсионное страхование</div>
        <div class=""></div>
    </div>
    <div class="info">
        <h1>Что такое пенсионное страхование</h1>
        <hr>

        <p>
            Пенсионное страхование – страхование с целью формирования источников финансирования пенсий. Пенсионное
            страхование является основой пенсионной системы в развитых странах.

            Различают обязательное пенсионное страхование и добровольное пенсионное страхование.
        </p>
        <h2> Обязательное пенсионное страхование</h2>
        <p>
            Обязательным называют пенсионное страхование, действующее в силу <a
                href="https://ru.wikipedia.org/wiki/Закон_(право)">закона</a>, охватывая все категории населения.
        </p>
        <p>
            C принятием Федерального Закона «Об обязательном пенсионном страховании» в 2002 году в России.
            В соответствии с этим Законом все граждане Российской Федерации становятся
            застрахованными лицами. Пенсионный фонд Российской Федерации открывает каждому гражданину индивидуальный
            лицевой счёт, на который ежемесячно зачисляются страховые взносы, которые за работника перечисляет
            работодатель при начислении ему заработной платы. Эти взносы и формируют будущую трудовую пенсию.
        </p>
        <h2> Добровольное пенсионное страхование</h2>
        <p>
            Добровольное пенсионное обеспечение (страхование) – система накоплений с помощью различных финансовых
            организаций будущей пенсии, основанная на тех же принципах, что и обязательное (государственное) пенсионное
            страхование. Его основные отличия это :



        </p>
        <ul>
            <li>добровольное пенсионное страхование является дополнительным по отношению к обязательному;</li>
            <li>размер взносов и условия страхования не устанавливаются государством, а выбираются страхователем или
                застрахованным;</li>
            <li>страховщиками в системе добровольного пенсионного страхования выступают негосударственные пенсионные
                фонды или страховые компании;</li>
            <li>

                государство не участвует в добровольном пенсионном страховании, но осуществляет очень тщательный и
                пристальный надзор за страховщиками.</li>
        </ul>
        <h2>Негосударственное пенсионное обеспечение (НПО)</h2>
        <p>
            Негосударственное пенсионное обеспечение (НПО) – это дополнительное добровольное пенсионное обеспечение,
            позволяющее получить прибавку к базовой пенсии. Если раньше негосударственное пенсионное обеспечение
            существовало в основном на крупных предприятиях и формировалось в виде корпоративных пенсионных программ, то
            сегодня негосударственные пенсионные фонды развивают этот продукт, предлагая и индивидуальные пенсионные планы
            как предприятиям так и для частных лиц.
        </p>  
        <p>
            Преимущества для российских работодателей негосударственного пенсионного обеспечения работников:
        </p>
    
        <ul>
            <li>   добровольный характер негосударственного пенсионного обеспечения в РФ;</li>
            <li>  является не заменой обязательного пенсионного страхования, а дополнением к нему;</li>
            <li>    характеризуется персональным подходом к каждому клиенту: учитывается возраст, уровень дохода, период, в течение
                которого Вы планируете получать дополнительный доход при выходе на пенсию;</li>
            <li> 
                гибкий размер взносов;</li>
            <li>
                возможность самостоятельно определять, когда и сколько вносить на счёт;</li>
            <li>    размещение резервов;</li>
            <li>   независимость процента доходности от размера взноса (даже небольшая сумма на счёте приносит доход в результате
                её инвестирования);</li>
            <li>  налоговый вычет;</li>
            <li>   возможность возврата 13% от общей суммы взносов;</li>
            <li>
                возможность наследования накопленных средств (при этом наследуемые таким образом средства не требуют уплаты
                подоходного налога).</li>
            <li>  При достижении совершеннолетия любой гражданин Российской Федерации может начать самостоятельно формировать свою
                будущую пенсию за счет личных средств, заключив договор негосударственного обеспечения Наличие трудового стажа в
                данном случае необязательно.</li>
        
        </ul>
     
        
   
        <h1>Используемые источники:</h1>
        <hr>
        <ol>
            <li>    <a href="https://ru.wikipedia.org/wiki/Пенсионное_страхование">Пенсионное страхование</a></li>
            <li>    <a href="https://www.smpins.ru/statii/pensionnoe-strahovanie/">Пенсионное страхование в России</a></li>
        </ol>
     
      
     
      
    </div>
    <app-footer></app-footer>