<div id="insurance-policy">
  <h3 id="title">Купить страховку онлайн</h3>
    <div class="policy" 
      (mouseenter) = "isShownCar=false"
      (mouseleave) = "isShownCar=true"
      >
      <a routerLink="/osago-kasko">
        <img src="../../assets/osago-lada.jpg" alt="car">
        <p>ОСАГО и Каско</p>
        <button [@showBtn] = "isShownCar ? 'open' : 'closed'" >Оформить</button>
      </a>
    </div>
    <a routerLink="/osago-kasko" class="policy-block">
      <div>
        ОСАГО и КАСКО
      </div>
     
    </a>
    <div class="policy"
      (mouseenter) = "isShownIpoteka=false"
      (mouseleave) = "isShownIpoteka=true"
    >
      <a routerLink="/mortgage">
        <img src="../../assets/ipoteka.jpg" alt="">
        <p>Ипотека</p>
        <button [@showBtn] = "isShownIpoteka ? 'open' : 'closed'">Оформить</button>
      </a>

    </div>
    <a routerLink="/mortgage" class="policy-block">
      <div>
        Ипотека
      </div>
    </a>
    <div class="policy"
    (mouseenter) = "isShownJourney=false"
    (mouseleave) = "isShownJourney=true"
    >
      <a routerLink="/journey">
        <img src="../../assets/journey.jpeg" alt="mountain">
        <p>Путешествия</p>
        <button [@showBtn] = "isShownJourney ? 'open' : 'closed'">Оформить</button>
      </a>
    </div>
    <a routerLink="/journey" class="policy-block">
      <div>
        Путешествия
      </div>
    </a>
    <div class="policy"
    (mouseenter) = "isShownAccident=false"
      (mouseleave) = "isShownAccident=true"
    >
      <a routerLink="/accident">
        <img src="../../assets/accident.jpg" alt="">
        <p>Несчастный случай</p>
        <button [@showBtn] = "isShownAccident ? 'open' : 'closed'">Оформить</button>
      </a>
    </div>
    <a routerLink="/accident" class="policy-block">
      <div>
        Несчастный случай
      </div>
    </a>