<div id="insurance-policy">
  <h3 id="title">Купить страховку онлайн</h3>
    <div class="policy" 
      (mouseenter) = "isShownCar=false"
      (mouseleave) = "isShownCar=true"
      >
      <a routerLink="/osago-kasko">
        <img src="../../assets/PolicyPics/osago-lada.jpg" alt="car">
        <p>ОСАГО и Каско</p>
        <button [@showBtn] = "isShownCar ? 'open' : 'closed'" >Оформить</button>
      </a>
    </div>
    <div class="policy"
      (mouseenter) = "isShownIpoteka=false"
      (mouseleave) = "isShownIpoteka=true"
    >
      <a href="#">
        <img src="../../assets/PolicyPics/ipoteka.jpg" alt="">
        <p>Ипотека</p>
        <button [@showBtn] = "isShownIpoteka ? 'open' : 'closed'">Оформить</button>
      </a>
    </div>
    <div class="policy"
    (mouseenter) = "isShownJourney=false"
    (mouseleave) = "isShownJourney=true"
    >
      <a href="#">
        <img src="../../assets/PolicyPics/journey.jpeg" alt="mountain">
        <p>Путешествия</p>
        <button [@showBtn] = "isShownJourney ? 'open' : 'closed'">Оформить</button>
      </a>
    </div>

    <div class="policy"
    (mouseenter) = "isShownAccident=false"
      (mouseleave) = "isShownAccident=true"
    >
      <a href="#">
        <img src="../../assets/PolicyPics/accident.jpg" alt="">
        <p>Несчастный случай</p>
        <button [@showBtn] = "isShownAccident ? 'open' : 'closed'">Оформить</button>
      </a>
    </div>
