#main-osago-kasko{
    margin: 0 auto;
    width: 80%;
}

header{
    width: 100%;
    background: #009e79;
    height: 70px;
}

.title{

	float: left;
	font-size: 24px;
	padding-top: 25px;
	padding-left: 20px;
    color: white;
    font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.title a{
	color: white;
	font-size: 24px;
	margin-right: 20px;
	text-decoration: none;
}
a {
	display: block;
	text-decoration: none;
	color: #f2f0f7;
	box-shadow: black;
}

.headtext{
width: 100%;
text-align: center;

	margin-top: 105px;
	line-height: 1.5;
	
}
.main-block{
	
	
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.osago{
	border: 1px solid #dcdcdc;
	background-color: #009e79;
}
.kasko{
	border: 1px solid #dcdcdc;
	background-color: rgb(0, 158, 121);
}
.block{
	
	margin: 10px;
	width: 400px;
	
}
.block:hover{
	
	background:linear-gradient(rgba(5, 97, 76, 0.9), rgb(5, 97, 76, 0.9));
	
}
.osago img{
	
	width:400px;
	height: auto;
}
.kasko img{

	width:400px;
	height: auto;
}
.text{
	height: 150px;
	padding: 5px;
}
.text {
	text-align: center;
}
@media  all and (max-width:1000px) {
	.main-block{
		display: flex;
		flex-direction: column;
		align-items: center;
		font-size: 99%;
		justify-items: center;
		padding-bottom: 10px;
	}
	.block{
		width: 80%;
	}
	.osago img{
		width: 100%;
	}
	.kasko img{
		width: 100%;
	}
	.text{
		height: 20%;
		padding: 5px;
	}
}
@media  all and (max-width:500px) { 
	.block{
		width: 80%;
	}
}
@media  all and (max-width:425px) {
	.block{
		width: 80%;
	}
	.osago img{
		width: 100%;
	}
	.kasko img{
		width: 100%;
	}
}