<app-header></app-header>

<div class="headtext">Купить полис ОСАГО и КАСКО</div>
<div class="main-block">
    
    <a routerLink="/osago-form" class="osago block">
        <div class=" ">
        <img src="../../assets/osago-policy.jpg" alt="">
        </div>
        <div class="text">
            <h1>Оформите е-ОСАГО</h1>
            <div>ОСАГО – обязательное страхование гражданской ответственности владельцев транспортных средств.
                 Данный договор гарантирует возмещение убытков пострадавшей стороне в пределах установленного лимита.
            </div>
        </div>
    </a>
    <a routerLink="/kasko" class="kasko block">
        <div class=" " >
            <img src="../../assets/kasko.jpeg" alt="">
        </div>
        <div class="text">
            <h1>Оформите КАСКО</h1>
            <div>Каско – добровольный вид страхования,
                 предполагающий страхование транспортных средств (автомобилей, судов, самолетов и т. п.) от рисков «ущерб» и «хищение».
            </div>
        </div>
    </a>
</div>