<app-header></app-header>

<div class="mortgage-form">
    
    <h1>Оформить страховой полис на ипотеку</h1>
    <div class="main">
        <form action="">
            <div class="infoApartment infoObj">
                <h2>Информация по ипотечному кредиту</h2>
                <input type="text" placeholder="Банк-кредитор">
                <input type="text" placeholder="Остаток долга, Р">
                
                <label for="">
                <div class="title-apartment-obj">Что будет застраховано</div>
                <div class="radio-object">
                   
                        <input type="radio" name="objectInsurance" id=""> <span>Жизнь и здоровье</span>
                        <input type="radio" name="objectInsurance" id="">  <span> Недвижимость</span>
                   
                </div>
            </label>
                <div class="selectInfo">
                    <select name="" id="">
                        <option value="Квартира / Апартаменты">Квартира / Апартаменты</option>
                        <option value="Жилой дом">Жилой дом</option>
                    </select>
                </div>
            </div>
            
            <div class="infoUser infoObj">
                <h2>Данные заемщика</h2>
                <div class="firstData">
                    <input type="text" name="" id="" placeholder="Имя">
                    <input type="text" name="" id="" placeholder="Дата рождения">
                </div>
                <div class="secondData">
                    <input type="text" placeholder="Номер телефона">
                    <input type="text" placeholder="E-mail">
                </div>
            </div>
            <div class="btn-policy">
                <button>Оформить полис</button>
            </div>
         
        </form>
      
    </div>
</div>
