<app-header></app-header>

<div class="mortgage-form">
    
    <h1>Оформить страховой полис на ипотеку</h1>
    <div class="main">
        <form action="" [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="infoApartment infoObj">
                <h2>Информация по ипотечному кредиту</h2>
                <select placeholder="Банк-кредитор" formControlName="bank">
                    <option [ngValue]="null" value="" disabled selected>Банк-кредитор</option>
                    <option value="">Сбербанк</option>
                    <option value="">Тинькофф</option>
                    <option value="">ВТБ</option>
                    <option value="">АльфаБанк</option>
                </select>
                <input type="text" placeholder="Остаток долга, Р" formControlName="remains">
                
                <label for="">
                <div class="title-apartment-obj">Что будет застраховано</div>
                <div class="radio-object">
                   
                        <input type="checkbox" name="liveHealth" id="liveHealth" formControlName="liveHealth" value="Жизнь и здоровье"> <label>Жизнь и здоровье</label>
                        <input type="checkbox" name="objectInsurance" id="" formControlName="objectInsurance" value="Недвижимость">  <label> Недвижимость</label>
                   
                </div>
            </label>
                <div class="selectInfo" >
                    <select name="" id="" formControlName="propertyObject">
                    <option [ngValue]="null" disabled>Выберете недвижимость</option>
                    <option  >Квартира/Апартаменты</option>
                    <option  >Жилой дом</option>
                    </select>
                </div>
            </div>
            
            <div class="infoUser infoObj">
                <h2>Данные заемщика</h2>
                <div class="firstData">
                    <input type="text" name="" id="" placeholder="Имя" formControlName="name">
                    <input type="text" name="" id="" placeholder="Дата рождения" formControlName="datebirth" style="">
                </div>
                <div class="secondData">
                    <input type="text" placeholder="Номер телефона" formControlName="phoneNumber">
                    <input type="text" placeholder="E-mail" formControlName="email">
                </div>
            </div>
            <div class="btn-policy">
                <button>Оформить полис</button>
            </div>
         
        </form>
      
    </div>
</div>
