
app-header{

}
#main-content{
    margin: 0 auto;
    max-width: 1920px;
    width: 80%;
    background-color: white;
}
hr {
    border: 1px solid #f6f8f9;
}
app-footer{
    width: 100%;
    background-color: #f4f4f2;
    

}

@media all and (max-width: 1500px){
   app-header-info{
        display: none;
    }
}
@media all and (max-width: 500px){
    app-main-image-policy{
         display: none;
     }
 }
