<app-header>

</app-header>
<div class="main">
    <div class="image">
        <div class="text-cheating-image">Страховые услуги</div>
        <div class=""></div>
    </div>
    <div class="info">
        <h1>Что такое страхование?</h1>
        <hr>
        <p>Страхование - это договор, представленный полисом, по которому физическое или юридическое лицо получает
            финансовую защиту или возмещение убытков от страховой компании. Компания объединяет риски клиентов, чтобы
            сделать выплаты более доступными для застрахованных.
        </p>
        <p>
            Страховые полисы используются для хеджирования риска финансовых потерь, как больших, так и малых, которые
            могут возникнуть в результате повреждения застрахованного или его имущества или ответственности за ущерб или
            травму, причиненные третьей стороне.
        </p>

        <h1>Виды страхования</h1>
        <hr>
        <h2>Личное страхование</h2>
        <p>
            Объектами такогов вида страхования являются здоровье, жизнь, трудоспособность. 
            К личному страхованию можно отнести:
            <ul>
                <li>Страхование жизни</li>
                <li>Страхование от несчастных случаев</li>
                <li>Медицинское страхование</li>
                <li>Страхование детей</li>
                <li>Пенсионное страхование</li>
            </ul>    
            <p>
                Страхование жизни 
            </p> 
        <h2>Имущественное страхование</h2>
        <p>
            
        </p>
        <h2>Страхование ответственности</h2>
        <p>
            
        </p>
        <h2>Страхование предпринимательских рисков</h2>
        <p>
            
        </p>

        
    </div>
<app-footer></app-footer>