<app-header>

</app-header>
<div class="main">
    <div class="image">
        <div class="text-cheating-image">Страховые услуги</div>
        <div class=""></div>
    </div>
    <div class="info">
        <h1>Что такое страхование?</h1>
        <hr>
        <p>Страхование - это договор, представленный полисом, по которому физическое или юридическое лицо получает
            финансовую защиту или возмещение убытков от страховой компании. Компания объединяет риски клиентов, чтобы
            сделать выплаты более доступными для застрахованных.
        </p>
        <p>
            Страховые полисы используются для защиты от риска финансовых потерь, как больших, так и малых, которые
            могут возникнуть в результате повреждения застрахованного или его имущества или ответственности за ущерб или
            травму, причиненные третьей стороне.
        </p>

        <h1>Виды страхования</h1>
        <hr>
        <h2>Личное страхование</h2>
        <p>
            Объектами такогов вида страхования являются здоровье, жизнь, трудоспособность.
            К личному страхованию можно отнести:
        <ul>
            <li>Страхование жизни</li>
            <li>Страхование от несчастных случаев</li>
            <li>Медицинское страхование</li>

        </ul>
        <p>
            <b>Страхование жизни</b> - в таком виде страховния объектом выступают определенные события в жизни
            застрахованного
            лица:
        </p>
        <ul>
            <li>дожитие до определённого возраста;</li>
            <li>смерть застрахованного;</li>
            <li>предусмотренные договором страхования события в жизни застрахованного:</li>
            <ul>
                <li>бракосочетание;</li>
                <li>поступление в учебное заведение;</li>
                <li>другие события, предусмотренные договором страхования.</li>
            </ul>
        </ul>
        <p>
            <b>Страхование от несчастных случаев</b> - в таком виде страхования страховым случаем предусматривается
            внешняя
            причина, как правило, кратковремнного воздействия, приведшая к временнойй или постоянной потере
            трудоспособности, или смерти застрахованного. Срок действия такого страхования не превышает одного года.
        </p>
        <p>Виды страхования от несчастного случая:

        </p>
        <ul>
            <li>страхование пассажиров;</li>
            <li>страхование детей;</li>
            <li>страхование работников предприятия;</li>
            <li>страхование граждан (страховая премия зависит от образа жизни застрахованного);
            <li>другие виды страхования от несчастного случая.</li>
        </ul>
        <p>
            <b>Медицинское страхование</b> — виды страхования, предусматривающие компенсацию медицинских расходов
            застрахованного лица на лечение в связи с заболеванием и/или несчастным случаем. Различают следующие
            разновидности медицинского страхования:
        </p>
        <ul>
            <li>
                обязательное медицинское страхование, которым охвачены все категории граждан;
            </li>
            <li> добровольное медицинское страхование, которое осуществляется в коллективной (работодатель страхует
                своих работников) или индивидуальной форме;
            </li>
            <li>страхование медицинских расходов граждан, в том числе туристов, выезжающих за рубеж;
            </li>
            <li>другие виды медицинского страхования.</li>
        </ul>
        <h2>Имущественное страхование</h2>
        <p>
            Страхование имущества юридических лиц – это услуга, согласно которой юрлицо платит некоторую сумму, а
            страховая компания взамен обязуется возместить ущерб (полностью или частично), если он будет нанесен этому
            имуществу не по вине юридического лица. Из этого тезиса вытекает 3 вопроса, которые нужно рассмотреть: цена
            страхования, возмещение ущерба, причины ущерба.

            Цена страхования – это та сумма, которую нужно заплатить за полис страхования юридических лиц. Страхование
            заключается на определенный срок – обычно на год, хотя есть варианты на 6/18/24/36 месяцев.
        </p>
        <h2>Страхование ответственности</h2>
        <p>
            С помощью страхования ответственности можно компенсировать ущерб, который вы кому-то нанесли. Ущерб в таком
            случае — это причинение вреда здоровью, жизни, движимому или недвижимому имуществу (то есть если вы что-то
            сломали, залили, испортили, кто-то пострадал от ваших неумышленных действий — список ситуаций не ограничен).



        </p>
        <p>Есть две основные категории страхования ответственности:</p>
        <ul>
            <li>ответственность за причинение вреда — этот вид страхования нужен людям, которые боятся своими
                неосторожными действиями нанести тот самый ущерб из определения выше;</li>
            <li> ответственность за ненадлежащее исполнение договора — этим видом страхования в таких же случаях
                пользуются в бизнесе.</li>
        </ul>

        <h2>Страхование предпринимательских рисков</h2>
        <p>
            Страхование предпринимательских рисков – это особая группа видов страхования. Она предусматривает выплаты
            страховых сумм при наступлении ситуаций, когда страхователь терпит убытки, теряет доходы и несет
            непредвиденные расходы в своей предпринимательской деятельности.
        </p>
        <p>Подразделяется страхование предпринимательских рисков на следующие виды:</p>
        <ul>
            <li>внешние, не связанные с бизнесом, то есть изменения в законах, политической обстановке;
                </li>
            <li>внутренние, связанные с бизнесом, то есть неисполнение обязательств контрагентами, ошибки в руководстве, злоупотребления и т.д.;
                </li>
            <li>постоянные, связанные с нестабильностью экономики в данном регионе;
               </li>
            <li> временные, например, возникающие на определенном этапе производственного цикла;
                </li>
            <li>допустимые, когда существует угроза частичной или полной потери прибыли;
                </li>
            <li>критические, когда возникла угроза потери прибыли и части дохода;
                </li>
                <li>катастрофические, грозящие банкротством и потерей бизнеса;
               </li>
               <li>     динамические или спекулятивные, возникающие в результате игры на разнице курсов и цен;
  </li>
    <li>              статистические, возникающие в результате стихийных бедствий, аварий, катастроф и т.п.</li>
        </ul>


    </div>
    <app-footer></app-footer>