<app-header>

</app-header>
<div class="main">
    <div class="image">
        <div class="text-cheating-image">Добровольное медицинское страхование</div>
        <div class=""></div>
    </div>
    <div class="info">
        <h1>Что такое добровольное медицинское страхование (ДМС)?</h1>
        <hr>
        <p>Добровольное медицинское страхованиечасто предлагается как независимая финансовая услуга,
            которая заключается через подписание договора на добровольных началах. В Российской Федерации
            .
        </p>
      


    </div>
    <app-footer></app-footer>