<app-header>

</app-header>
<div class="main">
    <div class="image">
        <div class="text-cheating-image">Добровольное медицинское страхование</div>
        <div class=""></div>
    </div>
    <div class="info">
        <h1>Что такое добровольное медицинское страхование (ДМС)?</h1>
        <hr>
        <p>Добровольное медицинское страхование является видом личного страхования. Суть данного страхования заключается
            в том, что клиент может получить помощь в больницах и клиниках с которыми сотрудничает страховая компания и
            платить за расходы на лечение будет именно компания. Часто предлагается как независимая финансовая услуга,
            которая заключается через подписание договора на добровольных началах.
        </p>
        <p>

            Добровольное медицинское страхование отличается от ОМС.
            К преимуществам ДМС:
        </p>
       
        <ul>
            <li>
                услуги по ДМС обычно оказывают оперативно;
            </li>
            <li>
                при наступлении страхового случая можно сэкономить деньги;
            </li>
            <li>
                можно оформить налоговый вычет в размере 13 % от полной стоимости полиса, но не более 15 600 ₽ за год.
            </li>
        </ul>
           
        
        
        <p>
            К недостаткам ДМС:
        </p>
           
           
     

        <ul>
            <li>
                полис платный ;
            </li>
            <li>
                покрывает не все болезни: например, не покрывает онкологию, психические расстройства, сахарный диабет,
                гепатиты и др.;</li>
            <li>плановые визиты к врачу не входят в перечень услуг;</li>
            <li>
            
                обращение в лечебно-профилактическое учреждение возможно только по факту страхового случая, а не для
                профилактики здоровья.
            
            </li>
        </ul>

    </div>
    <app-footer></app-footer>