<app-header>

</app-header>
<div class="main">
    <div class="image">
        <div class="text-cheating-image">Добровольное медицинское страхование</div>
        <div class=""></div>
    </div>
    <div class="info">
        <h1>Что такое добровольное медицинское страхование (ДМС)?</h1>
        <hr>
        <p>Добровольное медицинское страхование является видом личного страхования. Суть данного страхования заключается
            в том, что клиент может получить помощь в больницах и клиниках с которыми сотрудничает страховая компания и
            платить за расходы на лечение будет именно компания. Часто предлагается как независимая финансовая услуга,
            которая заключается через подписание договора на добровольных началах.
        </p>
        <p>

            Добровольное медицинское страхование отличается от ОМС.
            К преимуществам ДМС:
        </p>

        <ul>
            <li>
                услуги по ДМС обычно оказывают оперативно;
            </li>
            <li>
                при наступлении страхового случая можно сэкономить деньги;
            </li>
            <li>
                можно оформить налоговый вычет в размере 13 % от полной стоимости полиса, но не более 15 600 ₽ за год.
            </li>
        </ul>



        <p>
            К недостаткам ДМС:
        </p>




        <ul>
            <li>
                полис платный ;
            </li>
            <li>
                покрывает не все болезни: например, не покрывает онкологию, психические расстройства, сахарный диабет,
                гепатиты и др.;</li>
            <li>плановые визиты к врачу не входят в перечень услуг;</li>
            <li>

                обращение в лечебно-профилактическое учреждение возможно только по факту страхового случая, а не для
                профилактики здоровья.

            </li>
        </ul>
        <h1>Что входит в полис ДМС</h1>
        <hr>
        <p>
            Услуги, на которые может рассчитывать клиент, зависят от программы ДМС. Она может быть базовой, расширенной
            и
            полной. Первая — самая простая. Обычно она содержит в пакете определенный набор услуг, которые можно
            получить
            бесплатно в государственной поликлинике, например визит к терапевту или вызов врача на дом. Но качество
            сервиса,
            скорее всего, будет выше, и времени вы потратите меньше, так как не придется ждать очереди на запись к
            доктору.
        </p>
        <p>
            По расширенным и полным страховкам единого стандарта нет — каждая компания прописывает в договоре свои
            условия.
            Например, в расширенные страховки обычно включена стоматология с простыми услугами: осмотр, чистка зубов,
            установка световой пломбы. Более сложные проблемы, такие как установка коронки, обычно страховкой не
            покрываются. Иногда услуги стоматологии по ДМС оказывают клиники конкретной сети. В этом случае лучше
            заранее
            проверить, есть ли в вашем городе эта сеть клиник.
        </p>

        <p>

            Полные страховки обычно включают широкий спектр услуг, например визиты к специалистам, любые анализы,
            психотерапию, ведение беременности, сложную стоматологию. Стоит такая страховка от 100 000 ₽ на год и выше.

        </p>
        <p>
            В полис могут быть включены следующие услуги:
        </p>
        <ul>
            <li> амбулаторно-поликлиническая помощь, если есть жалобы;</li>
            <li>выезд врача на дом;</li>
            <li> скорая медицинская помощь;</li>
            <li> стоматология;</li>
            <li> стационарная помощь, госпитализация, срочные операции;</li>
            <li> чекап — комплексное обследование организма (вроде диспансеризации);</li>
            <li> телемедицина;</li>
            <li> психологическая поддержка.</li>

        </ul>
        <p>

            В полисы ДМС входит диагностика COVID-19, но лечение после постановки диагноза программами не предусмотрено.
            Коронавирус официально включен в перечень заболеваний, которые представляют опасность для окружающих,
            поэтому
            его лечение происходит на базе специализированных клиник, которые контролирует Роспотребнадзор.
        </p>

        <h2>От чего зависит стоимость полиса</h2>
        <p>
            Стоимость полиса зависит от нескольких факторов:
        </p>

        <ul>
            <li>города проживания, так как стоимость медуслуг в разных городах может отличаться;</li>
            <li>пола и возраста страхуемого — обычно страховки для женщин немного дороже, чем для мужчин. Это связано с
                тем, что женщины, по статистике, чаще ходят к врачам и пристальнее следят за здоровьем;</li>
            <li>сферы деятельности — например, если работа связана с повышенным риском для здоровья, то стоимость полиса
                будет выше;</li>
            <li>перечня клиник — чем больше выбор и чем выше статус заведений, тем выше стоимость полиса;</li>
            <li>наполнения медицинской программы — чем больше случаев покрывает страховка, тем она дороже.</li>
        </ul>

        <h2>            Кого не застрахуют</h2>
     
        <p>

            Страховые компании обычно не оформляют ДМС, если человек состоит на учете в наркологическом,
            психоневрологическом, противотуберкулезном, кожно-венерологическом, онкологическом и других диспансерах.
            Также не застрахуют больных СПИДом или людей с инвалидностью 1-й или 2-й группы.
        </p>
        <h1>Используемые источники:</h1>
        <hr>
        <ol>
            <li>    <a href="https://www.raiffeisen-media.ru/zhizn/kak-vybrat-polis-dms/">Что такое полис ДМС и как его выбрать</a></li>
            <li>    <a href="https://www.banki.ru/wikibank/dobrovolnoe_meditsinskoe_strahovanie/">Добровольное медицинское страхование</a></li>
        </ol>
    
    </div>
    <app-footer></app-footer>